<template>
  <q-page class="row no-wrap">
    <GmapMap
      :center="position"
      :zoom="12"
      :options="{disableDoubleClickZoom: true}"
      @dblclick="mapDblClicked"
      map-type-id="terrain"
      class="fullscreen"
      style="width: 100%; flex-grow: 1"
      >

      <Gmap-Marker
        v-for="m, idx in markers"
        :position="m.position"
        :clickable="true"
        :key="idx"
        @click="markerClicked(m)"/>

      <Gmap-InfoWindow
        :options="infoWinOptions"
        :position="infoWinPosition"
        :opened="currentMarker !== null"
        @closeclick="currentMarker = null"/>

    </GmapMap>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',

  data () {
    return {
      currentMarker: null
    }
  },

  // Use geolocation from the navigator to initialize the maps position
  mounted () {
    if ("geolocation" in navigator) {
      navigator.geolocation.getCurrentPosition((position) => {
        console.log("Received position from navigator : ", position)
        this.$store.dispatch('maps/setPosition', {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        })
      });
    } else {
      console.warn("Geolocation is not available !")
    }
  },

  computed: {
    // List markers from the store
    markers () { return this.$store.state['maps'].markers },

    // Center the map using the store's position
    position () { return this.$store.state['maps'].position },

    // Compute the position of the info window using the current marker
    infoWinPosition () {
        return this.currentMarker ? this.currentMarker.position : null
    },

    // Compute the info window text using the current marker information
    infoWinOptions () {
      if (this.currentMarker === null)
        return {}

      const desc =`<span class="text-h6">${this.currentMarker.title}</span>
        <br/><i>Marker description here...</i>
        <br/><a target="_blank" href="https://maps.google.com/maps?z=12&ll=${this.currentMarker.position.lat},${this.currentMarker.position.lng}">Aller à maps</a>` 

      return {
        content: desc,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: { width: 0, height: -35 }
      }
    }
  },

  methods: {
  
    // Handle map double click to create new markers
    mapDblClicked (event) {
      const clickPos = {
        lat: event.latLng.lat(),
        lng: event.latLng.lng()
      }
      console.log("Map double clicked at position :", clickPos)

      const marker = {
        title: `Marker ${this.markers.length}`,
        position: clickPos
      }
      this.$store.dispatch('maps/addMarker', marker)
    },

    // Handle marker clicked : center the map and display an info window
    markerClicked (marker) {
      console.log(`Marker '${marker.title}' clicked, position: `, marker.position)

      // Set the currentMarker in order to display the info window
      this.currentMarker = marker
    }
  }
}
</script>
